body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

#featured-property {
  text-align: center;
}

#navbar a {
  position: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #808080
}


